.coursesOngoing {
  display: flex;
  margin: 2vw;
  align-items: center;
}
.coursesOngoing > div:nth-child(1) {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F7;
  width: 35vw;
}
.coursesOngoing > div:nth-child(1) img {
  padding: 1vw;
  background-color: white;
  border-radius: 10px;
  margin: .5vw;
  width: 4.2vw;
}
.coursesOngoing > div:nth-child(1) div h2 {
  font-size: 1.2vw;
}
.coursesOngoing > div:nth-child(1) div p {
  font-size: .9vw;
}
.coursesOngoing > div:nth-child(1) span {
  font-size: 1.2vw;
  border: 2px solid black;
  border-radius: 50%;
  padding: .5vw;
}
.coursesOngoing > div:nth-child(1) button {
  background: black;
  border: none;
  padding: .5vw 2vw .5vw 2vw;
  border-radius: 10px;
  margin: 1vw;
}
.coursesOngoing > div:nth-child(1) button a {
  text-decoration: none;
}
.coursesOngoing > div:nth-child(1) button a p {
  font-size: 1vw;
  color: white;
  text-transform: capitalize;
}

.coursesOngoing > div:nth-child(2) {
  margin: 1vw;
}
.coursesOngoing > div:nth-child(2) button {
  border: none;
  background: none;
}
.coursesOngoing > div:nth-child(2) img {
  border:2px solid black;
  border-radius: 50%;
  padding: .7vw;
  margin: .5vw;
  cursor: pointer;
  width: 2.8vw;
}
