* {
  margin: 0;
  padding: 0;
  font-family: 'Do Hyeon', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url("../../assets/img/background/indexBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mainScreen {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.lg_svdacc_userUI_screen {
  height: 70vh;
  width: 60vw;
  background-color: #eceaea;
  border: 2px solid #464646;
  box-shadow: -1px 2px 7px 0px #000;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.a_lgscr_userUI {
  text-align: center;
  background-color: white;
}

.a_lgscr_userUI form {
  margin-top: 5vw;
}

.a_lgscr_userUI h3 {
  color: #282828;
  font-size: 3vw;
  margin-top: 3vw;
}

.a_lgscr_userUI input[TYPE="EMAIL"], input[TYPE="PASSWORD"] {
  border: none;
  padding: 5px;
  border-bottom: 2px solid black;
  background-color: inherit;
  font-size: 1.2vw;
  color: black;
  margin-top: 2vw;
}

.a_lgscr_userUI input[TYPE="BUTTON"] {
  border-radius: 10px;
  background-color: #3a393a;
  font-size: 1vw;
  color: white;
  padding:  .5vw 2vw .5vw 2vw;
  margin-top: 2vw;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.a_svdacc_userUI {
  text-align: center;
  background-image: url("../../assets/img/background/a_svdacc_background.jpg");
}

.a_svdacc_userUI h3 {
  color: #fff;
  font-size: 2vw;
  margin-top: 7vw;
}

.svd_acc_getInfo {
  margin-top: 2vw;
}

.svd_acc_getInfo ul {
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 2vw;
}

.svd_acc_getInfo ul li {
  cursor: pointer;
}

.svd_acc_getInfo ul li figure img {
  width: 10vw;
  border-radius: 5px;
}

.svd_acc_getInfo ul li figure figcaption {
  font-size: 1.2vw;
  color: #fff;
}
