.entry {
  margin-left: 2vw;
  font-size: 2vw
}

.listesearchcontainer {
  display: inline-grid;
}

.listesearchcontainer img {
  width: 30vw;
  margin-left: 2vw;
}

.listsearch {
  display: inline-flex;
  list-style: none;
  margin-left: 1vw;
}

.listsearch li {
  margin: 1vw;
}

.listsearch li a {
  text-decoration: none;
  color: gray;
  font-size: 1.3vw;
}

.listsearch li a:nth-child(1) {
  color: black;
}

.listsearch li a:focus {
  color: black;
}
